CM7/debug/IC_STM32_CM7.bin
CM7/debug/IC_STM32_CM7.elf
CM7/debug/IC_STM32_CM7.list
CM7/debug/IC_STM32_CM7.map
CM7/debug/makefile
CM7/debug/objects.list
CM7/debug/objects.mk
CM7/debug/sources.mk
CM4/debug/IC_STM32_CM4.bin
CM4/debug/IC_STM32_CM4.elf
CM4/debug/IC_STM32_CM4.list
CM4/debug/IC_STM32_CM4.map
CM4/debug/makefile
CM4/debug/objects.list
CM4/debug/objects.mk
CM4/debug/sources.mk
